div.main{
    margin:auto;
    width: 1349px;
    height: 800px;
    background-color: #f0f2f5;
    display: flex;
    justify-content: space-around;
    align-content:space-between;
    flex-wrap: wrap;
    /* align-content: center; */

}
body{
    margin: 0 auto;
    position: relative;
    color: #1c1e21;
    line-height: 1.34;
    display: flex;
    flex-wrap: wrap;
}
div.left_side{
    height: 640px;
    width: 50%;
    margin:auto;
    align-self: center;
    justify-self: center;
    /* direction: rtl; */
}
div.right_side{
    height: 640px;
    width: 50%;
    align-self: center;
    justify-self: center;
     /* direction: rtl; */
} 
div.left_side h1{
    font-size: 54px;
    text-transform: lowercase;
    font-weight: 1500px;
    color: #1877f2;
    font-family: 'Questrial', sans-serif;
    padding:0;
    margin: 200px 0px 0px 130px;
}


div.left_side p{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif; 
    font-size: 28px;
    line-height: 32px;
    width: 500px;
    margin:0px 80px 0px 130px;
    /* text-align: center;
    justify-content: center; */

}
form{
    display: block;
    width: 396px;
    height: 345px;
    background-color: white;
    border: none;
    border-radius: 8px;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    text-align:center;
    padding-bottom: 24px;
    padding-top: 10px;
    margin-top: 130px;
    margin-left: 20px;
    align-items: center;
}
input{
    margin: 8px 15px;
    line-height: 40px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    width: 370px;
    padding: 5px;
    box-sizing: border-box;
    outline: 0;
}
input::placeholder{
    font-size: 16px;
    color: rgb(184, 178, 178);
    padding: 5px;
}
input[type="text"]:focus{
    border:1px solid #1877f2;
    box-shadow: 2px 2px 2px 2px whitesmoke;
}
input[type="password"]:focus{
    border:1px solid #1877f2;
    box-shadow: 2px 2px 2px 2px whitesmoke;
}
button[type="submit"]{
   padding: 0 16px;
   margin: 5px 10px;
   width: 370px;
   line-height: 48px;
   display: inline-block;
   background-color:#1877f2;
   border: none;
   border-radius: 6px;
   color: #ffffff;
   font-size: 20px;
   font-weight: bold;
   text-decoration: none;
   vertical-align:center;
   cursor: pointer;
}
button[type="submit"]:hover{
    background-color:#086ae9 ;
}
button[type="submit"]:active{
    border: 1px transparent solid;
}
.con1 >a{
    display:flex;
    justify-content: center;
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    border-top: 0px ridge  #cdd3db ;
    width: 360px;
}
button[type="button"]{
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    padding: 0 16px;
    line-height:48px;
    position: relative;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: content-box;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    justify-content: center;
    margin-top: 10px;
}
button[type="button"]:hover{
    background-color: #21aa06;
}
.con2{
    color: black;
    text-align:justify;
    padding-top: 0pc ;
    margin: 28px 70px ;
    font-family:SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.con2 >a{
    text-decoration: none;
    color: black;
    font-family:SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.con2 > a:hover{
    text-decoration: underline;
}
footer{
    background-color: rgb(255, 254, 254);
    width: 100%;
    height: 156px;
}
footer p{
    text-align: center;
    vertical-align: center;
    color: rgb(99, 96, 96);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
    